:root {
    /* Color styles */
    --prio-major: rgba(255, 237, 142, 1);
    --prio-minor: rgba(142, 201, 255, 1);
    --prio-normal: rgba(142, 255, 201, 1);
    --prio-critical: rgba(255, 0, 0, 1);
    --btn-main-normal: rgba(0, 116, 224, 1);
    --btn-main-active: rgba(30, 145, 253, 1);
    --btn-main-hover: rgba(2, 78, 149, 1);
    --btn-secondary-normal: rgba(49, 51, 57, 1);
    --btn-secondary-hover: rgba(71, 73, 80, 1);
    --btn-secondary-active: rgba(33, 34, 39, 1);
    --bg-grey-blue: rgba(35, 36, 43, 1);
    --bg-dark-blue: rgba(20, 22, 30, 1);
    --bg-dark-blue-06: rgba(20, 22, 30, 0.6);
    --bg-green: rgba(27, 89, 87, 1);
    --details-stroke: rgba(71, 71, 71, 1);
    --details-stroke-brigth: rgba(138, 138, 138, 1);
    --text-white: rgba(242, 242, 243, 1);
    --text-gray: rgba(108, 104, 111, 1);
    --text-gray-light: rgba(138, 134, 141, 1);
    --text-black: rgba(35, 35, 36, 1);

    /* Text-size styles */
    --h1-hero-bold: 72px;
    --h1-hero-semibold: 64px;
    --h1-hero2-semibold: 56px;
    --h2-big-medium: 28px;
    --h2-medium: 14px;
    --text-large-regular: 48px;
    --text-small-regular: 40px;
    --text-tiny-regular: 14px;
}

body {
    background-color: var(--bg-dark-blue);
    font-family: 'Varela Round', sans-serif;
    color: var(--text-white);
}
#logo-hero {
    position: relative;
    left: -22px;
    width: 128px;
    margin: 20px;
}
#invite-loader{
    width: 38px;
    margin: 0 5px 0 0;
    display:none;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */
   /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
nav {
    z-index: 9999;
}

.ballury-wrap {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -100;
}

.ballury-ball {
    filter: opacity(40%);
    background-image: radial-gradient(circle at top, var(--bg-green) 0%, var(--bg-dark-blue) 90%);
}
hr {
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid var(--details-stroke);
}
#bs-override .bg-light {
    background-color: var(--text-white) !important;
}

#bs-override .bg-dark {
    background: var(--bg-grey-blue) !important;
}

#bs-override .card {
    border: 1px solid var(--details-stroke);
    border-radius: 10px;
    background-color: var(--bg-dark-blue-06);
    box-shadow: 0px 20px 40px 5px var(--bg-dark-blue);
}

#bs-override .card-table {
    margin-top: 10px;
    border: 1px solid var(--details-stroke);
    border-radius: 10px;
    background-color: var(--bg-grey-blue);
}

.card-table thead {
    background-color: var(--bg-dark-blue);
    border: 1px solid var(--details-stroke);
    height: 50px;
}
#bs-override .table-dark {
    color: var(--text-white) !important;
    background: var(--bg-grey-blue);
    border-radius: 10px;
}
#bs-override table thead th {
    vertical-align: middle;
}
.table td, .table th {
    padding: 0 .45rem;
    vertical-align: middle;
    border-top: 1px solid var(--details-stroke-brigth);
}

table th:first-child {
    border-radius: 10px 0 0 10px;
}

table th:last-child {
    border-radius: 0 10px 10px 0;
}
tbody tr {
    display: none;
}

#bs-override select,
#bs-override input {
    background-color: var(--bg-dark-blue);
    color: var(--text-white);
    border: 1px solid var(--details-stroke);
    height: 40px;
}

#bs-override .card input {
    border: 1px solid var(--details-stroke);
    border-radius: 10px;
    background: var(--bg-dark-blue);
    color: var(--text-gray-light);
}

.dropdown-menu {
    min-width: 15rem;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: var(--text-white);
    text-align: center;
    list-style: none;
    background-color: var(--bg-grey-blue);
    /* background-clip: padding-box; */
    border: 1px solid var(--details-stroke);
    border-radius: .45rem;
    box-shadow: 30px 10px 30px 5px var(--bg-dark-blue);
}

.dropdown-menu .dropdown-item {
    padding: .25rem 1.0rem;
    color: var(--text-white);
    text-align: left;
}

.dropdown-menu .dropdown-item:hover {
    background-color: var(--btn-main-normal);
}

.dropdown-menu .dropdown-item:active {
    background-color: var(--btn-main-active);
}

.dropdown-menu .dropdown-divider {
    border-top: 1px solid var(--details-stroke)
}
